a.link {
    position: relative;
    display: block;
    /* font-size: 2em;
    font-weight: 800; */
    color: royalblue;
    overflow: hidden;
    background: -webkit-gradient(linear, left top, right top, from(midnightblue), color-stop(50%, midnightblue), color-stop(50%, #59aaa5));
    background: linear-gradient(to right, midnightblue, midnightblue 50%, #59aaa5 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    -webkit-transition: background-position 500ms ease;
    transition: background-position 500ms ease;
    text-decoration: none;
  }
  a:hover {
    background-position: 0 100%;
  }

.head1{
    font-family: 'Times New Roman', Times, serif;
    color: #59aaa5;
}