#anim
  {
    font-size: .6rem;
  }
  .NavP
  {
    font-size: 1.4rem; 
  }

  .img-wrapper
  {
   width: 100%;
   margin: 0 15px 15px 0;
   text-align: center;
  }
  #cloud
  {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .follow-me
   {
    z-index: 1001;
    margin-top: 1rem;
    margin-bottom: 2%;
    margin-left: 2%;
    background-color: transparent;
  }
  .follow-me.a {
    
    align-items: center;
    justify-content: center;
    background-color: transparent;
   
}
a.nav-item.nav-link{
  color:  #59aaa5;
  font-size: 1rem;
}
a.nav-item.nav-link:active,
a.nav-item.nav-link:hover
{
  color: white; 
  text-shadow: 1px 1px 2px black, 0 0 1em gray, 0 0 0.2em #59aaa5;
}

.tab-content{
  margin-top: 105px;
}
.nav-tabs{
  display: flex;
  background-color: white;
  opacity: .8;
  margin-top: 94px;
  align-items: center;
  max-width: 1440px;
  margin-left: auto; margin-right: auto;
  justify-content: flex-start;
  align-items: center;
}

#btnMenu
{
  margin-top: 2.75rem;
  display: block;
}

#labelLink
  {
    float: left;
    margin-right: 5rem;

  }
  .fab
  {
    font-size: 1rem;
  }
  
  .card.app {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(247, 243, 243);
    border: white;
    margin-bottom: 2rem;
  
  }
@media (min-width: 400px)
{


 /* Exstra Small devices ( up to 576px) */

#anim
  {
    font-size: 1.2rem;
  }
 
}
  @media (min-width: 576px)
  {
    .tab-content{
      margin-top: 110px;
    }
    .nav-tabs{
      margin-top: 108px;
    }
    .NavP
    {
      font-size: 1.7rem; 
    }
  .img-wrapper
  {
    height: 50%;
    float: left;
   margin: auto;
   text-align: center;
  }
  
  #anim
    {
      font-size: 1.5rem;
    }
    #cloud
    {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) 
{ 
  .card.app:nth-child(even) :nth-child(1) {
    order: 2;
  }
  a.nav-item.nav-link{
    font-size: 1.5rem;
  }
  .nav-tabs{
    margin-top: 45px;
  }
  .NavP
  {
    font-size: 1.9rem; 
  }
  #navbarToggleExternalContent{
    display: block;
  }
  #btnMenu
  {
    display: none;
  }
  .card.app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

.img-wrapper
{
  width: 50%;
  float: left;
}
#anim
  {
    font-size: 1.75rem;
  }
  
  .card-img-overlay
  {
    margin-bottom: 15%;
  }
  #labelLink
  {
    display:none;
  }
  /* .follow-me {
    position: fixed;
    display: flex;
    flex-direction: column;
  top: 25%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
   height: 2.4rem;
  width:2.4rem; 
  margin-left:0.1rem;
  background-color: transparent;
} */
  /* .follow-me.a
  {
    display: block;
    text-align: center;
    padding: 1rem;
    padding-right: 2rem;
    transition: all 0.3s ease;
    color: white;
    font-size: 40px;
    padding: 1rem;

  } */
  
  .fab
  {
    font-size: 4rem;
  }
} 
@media (min-width: 1080px) 
{ 
  .tab-content{
    margin-top: 100px;
  }
  .nav-tabs{
    margin-top: 62px;
  }
  .NavP
  {
    font-size: 2.2rem; 
  }
  #anim
  {
    font-size: 2.4rem;
  }
  /* #cloud
  {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  
  } */
  .card-img-overlay
  {
    margin-bottom: 10%;
  }
} 
@media (min-width: 1230px) 
{
  .card-img-overlay
  {
    margin-bottom: 20%;
  }
  .NavP
{
  font-size: 2.6rem; 
}
}